.Register {
    text-align: center;    
}

.form {
    text-align: start;
    padding-left: 20px;    
}

.descricao {
    padding-right: 80px;    
}

.button {
    background-color: green;
    color: aliceblue;
}

.label {
    margin-right: 10px;
}